@model MyTasks.Core.ViewModels.TaskViewModel


@{
    ViewData["Title"] = Model.Header;
}

<h1>@Model.Header</h1>

@using (Html.BeginForm("Task", "Task"))
{
    <p class="alert alert-info">Pola tytuł, opis i kategoria są <strong>wymagane</strong></p>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Task.Id)


    <div class="mb-3">
        @Html.LabelFor(m => m.Task.Title)
        @Html.TextBoxFor(m => m.Task.Title, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Task.Title)
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Task.Description)
        @Html.TextBoxFor(m => m.Task.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Task.Description)
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Task.CategoryId)
        @Html.DropDownListFor(m => m.Task.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "-- wybierz kategorię --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Task.CategoryId)
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Task.Term)
        @Html.TextBoxFor(m => m.Task.Term, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "Term", autocomplete = "off" })
    </div>

    @if (Model.Task.Id != 0)
    {
        <div class="mb-3 form-check">
            @Html.LabelFor(m => m.Task.IsExecuted)
            @Html.CheckBoxFor(m => m.Task.IsExecuted, new { @class = "form-check-input" })
        </div>
    }

    <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Term').datepicker({
                format: "yyyy-mm-dd",
                language: "pl",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                forceParse: false
            });
        });
    </script>
}

